
  <nav class="nav-extended bg-dark">
    <div class="container-md">
        <div class="nav-content">
            <span class="nav-title"> <span class="large material-icons mr-2">insert_chart</span>Empresa patito S.R.L.</span>
            <button class="btn-floating btn-large halfway-fab waves-effect waves-light cyan lighten-2 to-enable disabled" title="Nueva factura" disabled ng-click="createFactura()">
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>
  </nav>
